<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mobilehelp.videoeditor">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:node="replace" />
    <uses-permission android:name="com.android.providers.media.MediaProvider" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

           <!-- Don't forgot InitActivity -->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.activity.InitActivity"-->
<!--            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"-->
<!--            android:launchMode="singleTop"-->
<!--            android:theme="@android:style/Theme.NoTitleBar"-->
<!--            android:windowSoftInputMode="stateAlwaysHidden" />-->
<!--        <activity android:name="io.vov.vitamio.demo.VitamioListActivity" >-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.MediaPlayerDemo"-->
<!--            android:label="Media/MediaPlayer" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.VideoViewDemo"-->
<!--            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"-->
<!--            android:label="Media/VideoView" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.MediaPlayerDemo_Video"-->
<!--            android:label="Media/MediaPlayer" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.MediaPlayerDemo_setSurface"-->
<!--            android:label="Media/MediaPlayer" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.MediaPlayerDemo_Audio"-->
<!--            android:label="Media/MediaPlayer" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.MediaMetadataRetrieverDemo"-->
<!--            android:label="Media/MediaMetadata" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.MediaPlayerSubtitle"-->
<!--            android:label="@string/title_activity_media_player_subtitle" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.VideoViewSubtitle"-->
<!--            android:label="@string/title_activity_video_view_subtitle" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.VideoSubtitleList"-->
<!--            android:label="@string/title_activity_video_subtitle_list" >-->
<!--        </activity>-->
<!--        <activity-->
<!--            android:name="io.vov.vitamio.demo.VideoViewBuffer"-->
<!--            android:label="@string/title_activity_video_buffer" >-->
<!--        </activity>-->

<!--        &lt;!&ndash;OptiSplashScreen&ndash;&gt;-->
        <activity
            android:name="com.mobilehelp.videoeditor.MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mobilehelp.videoeditor.OptiTrimmerActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />



        <!--FileProvider-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>